.home{
    background-image: url("../img/home.png");
    background-position: center;
    background-size: cover;    

    .title{
        border-radius: 10px;
        background-color: rgba(20, 19, 19, 0.082);
        padding: 10px;

        -webkit-box-shadow: 8px 8px 15px -12px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 15px -12px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 15px -12px rgba(66, 68, 90, 1);

  
    }

}